@import 'reset';
@import 'variables';
@import 'themes/light';
@import 'themes/dark';

body {
  font: var(--font-m);
  color: var(--primary-text-color);
  background: var(--bg-color);
}

.app {
  height: 100vh;
  width: 100vw;

  overflow: auto;

  font: var(--font-m);
  color: var(--primary-text-color);
  background: var(--bg-color);
  display: flex;
  flex-direction: column;

  &-content {
    height: 100%;
    width: 100%;
    display: flex;
  }
}
