.navpanel {
  height: var(--navpanel-height);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: var(--inverted-bg-color);

  .logo {
    width: 20px;
    height: 20px;
  }

  .navlinks {
    display: flex;
    gap: 15px;
  }
}
