{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "no-descending-specificity": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "color-function-notation": null
  }
}
