.sidebar {
  background: var(--inverted-bg-color);

  //   flex-shrink: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  padding: 20px 10px;
  height: calc(100vh - var(--navpanel-height));
  width: 80px;

  transition: width 0.15s ease-in-out;

  &-opened {
    width: var(--sidebar-width);
  }
}
