.sidebar {
  background: var(--inverted-bg-color);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  padding: 20px 10px;
  width: 80px;
  height: calc(100vh - var(--navpanel-height));

  transition: width 0.15s ease-in-out;

  &-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
  }

  &-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
  }
}

.collapsed {
  width: var(--sidebar-width);
}

.opened {
  width: 80px;
}

.collapse-button {
  position: absolute;
  bottom: 50px;
  right: -50px;

  border-radius: 0;
}
