.app.light {
  // fonts
  --primary-font-color: rgb(0, 23, 128);
  --secondary-font-color: blue;

  // background
  --bg-color: rgb(78, 105, 113);
  --inverted-bg-color: rgb(43, 43, 43);

  // link
  --link-color: rgb(43, 43, 43);
  --hovered-link-color: rgb(70, 70, 70);

  // link inverted
  --link-inverted-color: rgb(78, 105, 113);
  --hovered-inverted-link-color: rgb(61, 83, 90);

  // button
  --button-font-color: rgb(43, 43, 43);
  --button-hovered-font-color: rgb(64, 64, 64);

  --button-border-color: rgb(70, 70, 70);
  --button-hovered-border-color: rgb(70, 70, 70);

  --button-background: rgb(78, 105, 113);
  --button-hovered-background: rgb(100, 136, 146);

  // button inverted
  --button-inverted-font-color: rgb(78, 105, 113);
  --button-inverted-hovered-font-color: rgb(61, 82, 88);

  --button-inverted-border-color: rgb(78, 105, 113);
  --button-inverted-hovered-border-color: rgb(61, 83, 90);

  --button-inverted-background: rgb(43, 43, 43);
  --button-inverted-hovered-background: rgb(68, 68, 68);
}
